// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

// Variables
@import "variables";
$theme-colors: (
    "bright-green": #900,
);
// Bootstrap
@import "~bootstrap/scss/bootstrap";

.bg {
    background: white;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.trans50white {
    background-color: rgba(255, 255, 255, 0.5);
}

.blur5 {
    backdrop-filter: blur(5px);
}

.vw-30 {
    width: 30vw;
}

.main {
    background: url("/images/asw-01.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    // border: 1px solid rgb(240, 21, 21);
    height: 85vh;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.welcome-msg {
    // border: 1px solid black;
    flex-basis: 100%;
    p {
        font-size: 1rem;
        margin-top: 40px;
    }

    .automate {
        font-style: italic;
    }
}

.welcome {
    font-size: 3rem;
    font-family: "Francois One", sans-serif;
    opacity: 0.8;
}

.login {
    font-weight: bold;
    .form-control {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #000;
        border-radius: 0;
    }
    .form-control:focus {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #000;
        border-radius: 0;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
            0px 0px 8px rgba(255, 255, 255, 0.5);
    }
    .btn {
        border-radius: 0;
        font-weight: bold;
        border: 1px solid #000;
    }
}
.login-main {
    max-width: 300px !important;
}

.footer {
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f573;
}

@media only screen and (min-width: 992px) {
    .steps {
        width: 50%;
    }
}
@media only screen and (max-width: 992px) {
    .main {
        background: linear-gradient(to bottom, #f8fafcd1, #f8fafcd4),
            url("/images/asw2.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        // border: 1px solid rgb(240, 21, 21);
        height: 85vh;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 768px) {
    .main {
        background: linear-gradient(to bottom, #f8fafcd1, #f8fafcd4),
            url("/images/asw2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        // border: 1px solid rgb(240, 21, 21);
        height: 85vh;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .login {
        flex: 1 1 auto;
    }
}

.title {
    border-bottom: 3px solid #000000;
    margin-bottom: 50px;
}

.subtitle {
    border-bottom: 2px solid #000000;
    margin-bottom: 30px;
    margin-right: 10vw;
    padding-bottom: 10px;
}

.desc {
    font-size: 1rem;
}
